.paneStyle{
    -fx-background-radius: 140;
    -fx-background-color: linear-gradient(from 10% 10% to 50% 50%, #74b9ff/*#00CFFF*/ , #a29bfe /*#BB00FF*/);
}
.logInField{
    -fx-background-color:rgba(0,0,0,0.1);
    -fx-border-color: null;
}
.logInTextField{
    -fx-background-color: transparent;
}

.logInButton{
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(from 10% 10% to 50% 50%, #74b9ff/*#00CFFF*/ , #a29bfe /*#BB00FF*/);
}

.loadingBall{
    -fx-fill: linear-gradient(from 10% 10% to 50% 50%, #74b9ff/*#00CFFF*/ , #a29bfe /*#BB00FF*/);
}

.dashBoardSideMenu{
    -fx-background-radius: 10;
}
.dashBoardTextBox{
    -fx-background-color: transparent;
    -fx-border-color: rgba(255, 255, 255,0.7);
    /*-fx-border-color: linear-gradient(from 10% 10% to 50% 50%, #74b9ff, #a29bfe);*/
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

.trackingCover{
    -fx-border-color: linear-gradient(from 10% 10% to 50% 50%, #74b9ff/*#00CFFF*/ , #a29bfe /*#BB00FF*/);
    -fx-border-radius: 0 0 30 30;
    -fx-border-width: 3;
}

.topBar{
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(from 10% 10% to 50% 50%, #74b9ff/*#00CFFF*/ , #a29bfe /*#BB00FF*/);
}

.combo-box{
    -fx-background-color: transparent;
    -fx-border-radius: 10;
    -fx-border-color: rgba(255, 255, 255,0.7);
    -fx-border-width: 2;
    -fx-font-family: Poppins;
}
.combo-box-base .text{
    -fx-fill: rgba(255, 255, 255,0.7);
}

.scroll-pane {
    -fx-background: #FFFFFF;
    -fx-border-color: #FFFFFF;
}

.text-area{
    -fx-background-color: transparent;
    -fx-focus-traversable: false;
    -fx-text-fill: rgba(0,0,0,0.5);
}
.packageTypeButton{
    -fx-background-color: #ecf0f1;
    -fx-background-radius: 10;
    -fx-border-color: rgba(0,0,0,0.5);
    -fx-border-radius: 10;
    -fx-border-width: 1.5;
}
.datePane{
    /*-fx-background-color: cornflowerblue;*/
    -fx-background-color: linear-gradient(from 10% 10% to 50% 50%, #74b9ff/*#00CFFF*/ , #a29bfe /*#BB00FF*/);
    -fx-background-radius: 10;
}
